@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 4rem;
  color: blanchedalmond;
  cursor: pointer;
  flex: 0.5;
  margin: 0.5rem;
  position: relative;
  transition: flex 0.7s ease-in, filter 0.5s ease, transform 0.4s ease,
    box-shadow 0.4s ease;
}

.panel h3 {
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease-out;
}

.panel.active {
  flex: 5;
  filter: grayscale(0%) brightness(1.1);
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.panel.active h3 {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}
.panel:hover {
  filter: grayscale(30%) brightness(1.1);
  transform: scale(1.01);
  transition: all 0.3s ease;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
